
#LPage {
    width: 100%;
    height:96vh;
    margin-bottom:50px;
}

p {
    font-family: 'industry', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p a {
    text-decoration:none;
}

.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


@media screen and (max-width: 550px) {
    aside {
        display: none !important;
    }
}

a.social {
    background-color:#3f68b2;
    padding:5px;
    border: 1px solid #3f68b2;
    border-radius:2px;
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
}

a.social:hover {
    background-color:#fff;
    color:#3f68b2;
    border: 1px solid #fff;
    transition: 0.3s;
}

footer {
    width:100%;
    bottom:0;
    padding: 3%;
    color:#fff;
    background-color: #3f68b2;
}

.firstcharacter {
  color: #3f68b2;
  float: left;
  font-family: 'factoria', monospace;
  font-size: 5.2rem;
  line-height: 0;
  padding-top:25px;
  padding-right:2px;
  padding-bottom:2px;
  font-weight: 500;
}

#wrapper {
    margin-top:50px;
}


@keyframes bouncing {
    0% {bottom: -40px;}
    50% {bottom: -20px;}
    100% {bottom: -40px;}
}

.arrow {
    animation: bouncing 2s infinite ease-in-out;
    bottom: -40px;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.copy {
    text-transform: uppercase;
    text-align: center;
}


.subnav {
    position:fixed;
    margin-top:15px;
    width: 16.66%;
    z-index: 1;
}

ul.footer { 
    list-style-type: none;
    display:inline;
    text-align: center;
}

ul.footer li {
    display: inline;
    text-align: center;
    font-family: 'industry',sans-serif;
}

::selection {
        background:#3f68b2;color:#fff;
}
::-moz-selection {
    background:#3f68b2;color:#fff;
}
::-webkit-selection {
    background:#3f68b2;color:#fff;
}

::-webkit-scrollbar {
    width:10px;
    height:10px;
    }
 
::-webkit-scrollbar-track-piece {
    background-color:#fff;
    }
::-webkit-scrollbar-thumb {
    background-color:#333;
    border:3px solid #fff;
}