
#LPage {
    width: 100%;
    height:96vh;
    margin-bottom:50px;
}

p {
    font-family: 'industry', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p a {
    text-decoration:none;
}


@media screen and (max-width: 550px) {
    aside {
        display: none !important;
    }
}

aside {
    font-family: 'factoria', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: left;
}

aside ul {
    list-style-type: none;
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
}

aside ul a {
    background-color:#3f68b2;
    padding:3px;
    border: 1px solid #3f68b2;
    border-radius:2px;
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
}

aside ul a:hover {
    background-color:#fff;
    color:#3f68b2;
    border: 1px solid #fff;
    transition: 0.3s;
}

a.social {
    background-color:#3f68b2;
    padding:5px;
    border: 1px solid #3f68b2;
    border-radius:2px;
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
}

a.social:hover {
    background-color:#fff;
    color:#3f68b2;
    border: 1px solid #fff;
    transition: 0.3s;
}

footer {
    width:100%;
    bottom:0;
    padding: 3%;
    color:#fff;
    background-color: #3f68b2;
}

.firstcharacter {
  color: #3f68b2;
  float: left;
  font-family: 'factoria', monospace;
  font-size: 5.2rem;
  line-height: 0;
  padding-top:25px;
  padding-right:2px;
  padding-bottom:2px;
  font-weight: 500;
}

#wrapper {
    margin-top:50px;
}


@keyframes bouncing {
    0% {bottom: -80px;}
    50% {bottom: -40px;}
    100% {bottom: -80px;}
}

.arrow {
    animation: bouncing 2s infinite ease-in-out;
    bottom: -80px;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.copy {
    text-transform: uppercase;
    text-align: center;
}


.subnav {
    position:fixed;
    margin-top:15px;
    width: 15%;
}

ul.footer { 
    list-style-type: none;
    display:inline;
    text-align: center;
}

ul.footer li {
    display: inline;
    text-align: center;
    font-family: 'industry',sans-serif;
}

.project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.piece {
    flex: 0 1 auto;
    align-self: flex-start;
    width:20%;
}

piece img {
    padding:5px;
    border: 1px solid #666;
    border-radius: 3px;
    max-width: 100%;
}

::selection {
        background:#3f68b2;color:#fff;
}
::-moz-selection {
    background:#3f68b2;color:#fff;
}
::-webkit-selection {
    background:#3f68b2;color:#fff;
}

::-webkit-scrollbar {
    width:10px;
    height:10px;
    }
 
::-webkit-scrollbar-track-piece {
    background-color:#fff;
    }
::-webkit-scrollbar-thumb {
    background-color:#333;
    border:3px solid #fff;
}