<header class="jumbo _viridian">
  <h1>Contact</h1>
</header>
<main class="container">
  <div class="row">
  <div class="col m12">
    <p>Want to get in touch? Simply fill out the form below, and I will email you back ASAP!</p>
  </div></div>
  <div class="row">
  <div class="col m12">
  <form action="https://formspree.io/reballan18@gmail.com" method="POST">
  <fieldset>
    <legend>Contact information:</legend>
  <div class="row">
    <div class="col m12">
      <label for="Email">Your email</label>
      <input class="_full-width" type="email" placeholder="Enter email." id="Email" name="_replyto">
    </div>
  </div>
  <label for="Message">Message</label>
  <div class="col m12">
  <textarea class="_width100" placeholder="Your message." name="message" id="Message"></textarea>
  </div>
  <div class="_alignCenter">
  <input class=" _viridian button" type="submit" value="Submit">
  <input class="button" type="reset" value="Reset">
  </div>
  <br>
</fieldset>
</form>
</div>
  </div>
</main>