<div id="LPage" class="bg-parallax" style="background-image: url('/img/home2.png')">
<div class="-front">
    <header class="landing">
	<h1 class="_alignCenter">Hi, I'm Rachel Ballan.</h1>
               <h4 class="_alignCenter">I'm a <strong>Web & Graphic Designer</strong> from the <strong>Providence, RI</strong> area.</h4>
               <i class="fa fa-caret-down fa-4x arrow" aria-hidden="true"></i>
    </header>
</div>
</div>
<section class="container">
    <p>About me text and junk.</p>
    </section>