<div id="LPage" class="bg-parallax" style="background-image: url('/img/home2.png')">
    <header class="container -front">
	<h1 class="_alignCenter">Hey, I'm Rachel.</h1>
               <h4 class="_alignCenter"><em>I'm a <strong>Graphic Designer</strong> from the <strong>Providence, RI</strong> area.</em></h4>
               <p><i class="fa fa-chevron-down fa-3x arrow" aria-hidden="true"></i></p>
    </header>
</div>
<section class="container">
    <div class="row">
	<div class="col m12">
    <p><span class="firstcharacter">R</span>olem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Skills</h2>
    <table class="_width100">
  <thead>
    <tr>
      <th></th>
      <th><1 year</th>
      <th>1-5 years</th>
      <th>5+ years</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adobe Acrobat DC</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Dreamweaver</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Experience Design</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Illustrator</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe InDesign</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Lightroom</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Photoshop</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Premiere Pro</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Clip Studio Paint</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Corel Painter</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Digital Illustration</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Digital Photography</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Git</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>HTML5</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Microsoft Office</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Paint Tool Sai</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
    <p><a class="cl-effect-3" href="/assets/ballanresume2017.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i> &nbsp;Download Resume</a></p>
    </div>
    </div>
    </section>