<div id="LPage" class="bg-parallax" style="background-image: url('/img/home2.png')">
    <header class="container -front">
	<h1 class="_alignCenter" style="text-transform: none; margin-top:60px;">Hey, I'm Rachel.</h1>
               <h4 class="_alignCenter"><em>I'm a <strong>Web & Graphic Designer</strong> from the <strong>Providence, RI</strong> area.</em></h4>
               <p><i class="fa fa-chevron-down fa-3x arrow" aria-hidden="true"></i></p>
    </header>
</div>
<section class="container">
    <div class="row">
	<div class="col m12">
    <h2>About Me</h2>
    <p><span class="firstcharacter">T</span>hough my background is mainly in print design, I take a strong personal interest in all things digital. I began teaching myself to create websites when I was twelve, and built my first fully functional site my freshman year of high school. I feel most at home creating UI designs and coding web pages, and aspire to be a front end developer.</p>
    <p>Don't get me wrong though! I still have a strong affinity for print. I could probably spend hours mulling over typefaces and paper stock.</p>
    <p>Outside of design, I enjoy reading all the latest tech news, listening to strange foreign music, singing car karaoke, and drawing/watching cartoons.</p>
    <h2>Skills</h2>
    <table class="_width100">
  <thead>
    <tr>
      <th></th>
      <th><1 Year</th>
      <th>1-5 Years</th>
      <th>5+ Years</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adobe Acrobat DC</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Dreamweaver</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Experience Design</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Illustrator</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe InDesign</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Lightroom</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Adobe Photoshop</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Adobe Premiere Pro</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Clip Studio Paint</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Corel Painter</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Digital Illustration</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Digital Photography</td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>Git</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>HTML5</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Microsoft Office</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Paint Tool Sai</td>
      <td></td>
      <td></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
    <p><span class="alignCenter"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;<a href="/assets/ballanresume2017.pdf" target="_blank">Download Resume</a></span></p>
    </div>
    </div>
    </section>