<header class="jumbo _violet">
        <h1>Work</h1>
</header>
<main class="container">
    <aside class="subnav">
                <strong>PROJECTS:</strong>
                <ul>
                <li><a href="#">GSH Counseling</a></li>
                <li><a href="#">Fountain Street</a></li>
                <li><a href="#">Einstein's Dreams</a></li>
                <li><a href="#">MEIC 2016</a></li>
                <li><a href="#">ABC</a></li>
                <li><a href="#">FDR</a></li>
                </ul>
    </aside>
    <div class="row">
	    <section class="col m10" style="float:right;">
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh ligula, feugiat eget viverra at, placerat et elit. Fusce ex nunc, tincidunt non lacus a, faucibus consectetur enim. Curabitur quis ante molestie, fermentum dolor et, pretium augue. Vivamus ultrices, magna in mattis tempus, neque sem tristique nisi, sit amet luctus diam metus posuere urna. Suspendisse vestibulum, erat at dignissim convallis, purus ex aliquet erat, vel posuere metus sem ut est. Integer consectetur tempor gravida. Aenean turpis nibh, placerat sed iaculis sit amet, eleifend pharetra tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sit amet augue tincidunt, consectetur lacus ultricies, blandit lectus. Praesent sagittis a ipsum ac vestibulum. Duis porttitor diam quis dapibus accumsan. Sed ullamcorper ullamcorper augue vel pellentesque. Pellentesque rutrum porttitor velit, sit amet consectetur nisi feugiat eu.

Sed iaculis, tortor ut hendrerit tempus, diam tellus varius neque, non elementum arcu lectus in lacus. Cras augue nulla, bibendum id tortor in, condimentum pharetra libero. Quisque mi enim, sagittis sit amet tempor id, dictum sed dui. Phasellus convallis nisi est, sit amet fermentum nisi ullamcorper at. Proin efficitur sit amet lorem vitae rhoncus. Curabitur neque quam, eleifend quis tempus quis, consequat sit amet nulla. Maecenas sagittis eget elit et imperdiet. Aenean pulvinar faucibus egestas. Vestibulum vel dapibus nisi.

Curabitur ornare elit quis tortor tincidunt, sit amet pharetra risus facilisis. Fusce sit amet nunc vestibulum, condimentum sem et, mollis augue. Ut vehicula ligula magna, a dapibus felis interdum at. Fusce porta justo eget mattis pulvinar. Pellentesque eget tincidunt orci, ut venenatis augue. Nunc ultricies arcu ac sagittis malesuada. In pretium arcu nec justo consequat tempus. In sodales tristique libero sed vulputate. Proin sed neque libero. Curabitur eu mauris a neque tincidunt porttitor. Suspendisse fringilla posuere dui, ac pellentesque purus. Morbi mollis ultrices erat, id dignissim lacus tristique et. Fusce viverra dui sit amet velit vestibulum semper.

Vestibulum erat nulla, varius dapibus ex sit amet, lobortis sollicitudin nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eros ipsum, condimentum sit amet lacus laoreet, aliquet cursus enim. Integer id lacus ante. Nulla justo nunc, convallis ultrices ligula sed, egestas dignissim odio. Donec luctus ante at venenatis molestie. Nunc consectetur, purus eu condimentum eleifend, purus orci volutpat orci, ut venenatis est ex vitae nulla. Nulla a massa vitae lacus scelerisque commodo. Aenean vel leo sollicitudin, luctus magna quis, scelerisque ligula. Suspendisse gravida dolor quis feugiat laoreet.

Duis sagittis lacinia turpis vel aliquam. Nam quis lectus non justo posuere iaculis ac in sem. Pellentesque et augue at mauris posuere scelerisque. Cras feugiat interdum velit at commodo. Morbi ut tempus diam. Duis iaculis eget mi at molestie. Suspendisse sit amet interdum arcu, ac ultrices enim. Aliquam rutrum elementum ligula, vitae eleifend justo auctor sit amet. Nullam laoreet ex sit amet arcu bibendum feugiat.</p>
       ;dlfkg;dfkg <br>
       test <br>
       does this scroll <br>
       <p> a paragraph </p>
       <p> please work </p> 
       </section>
    </div>
</main>