<header class="jumbo _violet">
        <h1>Work</h1>
</header>
<main class="container">
    <aside class="subnav">
                <strong>PROJECTS:</strong>
                <ul>
               <!-- <li><a href="#GSH">GSH Counseling</a></li> -->
                <li><a href="#FSFA">Fountain Street</a></li>
                <li><a href="#ED">Einstein's Dreams</a></li>
                <li><a href="#MEIC">MEIC 2016</a></li>
                <li><a href="#ABC">ABC</a></li>
                <li><a href="#FDR">FDR</a></li>
                </ul>
    </aside>
    <div class="row">
	    <section class="col m10" style="float:right;">
            <!-- <div class="row">
                <div class="col m12">
                    <h2 id="GSH">The Good Ship Hope Counseling</h2>
                        <p> a paragraph </p>
                </div>
            </div> -->
            <div class="row">
                <div class="col m12">
                    <h2 id="FSFA">Fountain Street Fine Art</h2>
                        <p>What started out as a senior year internship became a freelance position at the Fountain Street Fine Art Gallery in Framingham, Massachusetts. I worked closely with co-owners Cheryl Clinton and Marie Craig (along with dozens of local artists) to create a number of printed materials advertising upcoming gallery exhibits and other events.</p>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <h4>Logo:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/logo/fsfabanner.png"><img class="piece" src="img/folio/logo/fsfabanner_thumb.png" alt="Design for Breaking Boundaries Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/logo/fsfabanner_url.png"><img class="piece" src="img/folio/logo/fsfabanner_url_thumb.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/logo/fsfa.png"><img class="piece" src="img/folio/logo/fsfa_thumb.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/logo/fsfa_url.png"><img class="piece" src="img/folio/logo/fsfa_url_thumb.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
            </div>
             <div class="row">
                <div class="col m12">
                    <h4>Postcards (4x6):</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/8x8.png"><img class="piece" src="img/folio/fsfa/8x8_small.png" alt="Design for 8x8 Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/materialize.png"><img class="piece" src="img/folio/fsfa/materialize_small.png" alt="Design for Materialize Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/nolimit.png"><img class="piece" src="img/folio/fsfa/nolimit_small.png" alt="Design for No Limit Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/lam.png"><img class="piece" src="img/folio/fsfa/lam_small.png" alt="Design for Landscape and Memory Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/fabrications.png"><img class="piece" src="img/folio/fsfa/fabrications_small.png" alt="Design for Fabrications Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/grhythms.png"><img class="piece" src="img/folio/fsfa/grhythms_small.png" alt="Design for Grignaffini Rhythms Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/farandnear.png"><img class="piece" src="img/folio/fsfa/farandnear_small.png" alt="Design for Far and Near Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/dreamscapes.png"><img class="piece" src="img/folio/fsfa/dreamscapes_small.png" alt="Design for Collaborative Dreamscapes Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/terrain.png"><img class="piece" src="img/folio/fsfa/terrain_small.png" alt="Design for Terrain Gallery Showing."></a></div>
            </div>
            <div class="row">
                <div class="col m12">
                    <h4>Handouts (8.5x5.5):</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/bboundaries.png"><img class="piece" src="img/folio/fsfa/bboundaries.png" alt="Design for Breaking Boundaries Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/bboundaries2.png"><img class="piece" src="img/folio/fsfa/bboundaries2.png" alt="Alternate design for Breaking Boundaries Gallery Showing."></a></div>
                <div class="col m4"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/nanhass.png"><img class="piece" src="img/folio/fsfa/nanhass.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
            </div>
            <div class="row">
                <div class="col m12">
                    <h4>Membership Sign Up Card:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/afriend.png"><img class="piece" src="img/folio/fsfa/afriend-thumb.png" alt="Design for Artist Friend Signup - Front."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="fsfa" href="img/folio/fsfa/join.png"><img class="piece" src="img/folio/fsfa/join-thumb.png" alt="Design for Artist Friend Signup - Back."></a></div>
            </div>
            <div class="row">
                <div class="col m12">
                    <h2 id="ED">Einstein's Dreams</h2>
                        <p>A visualization of Alan Lightman's novella Einstein's Dreams. Digitally drawn and painted using Paint Tool Sai, with typfaces Benton Sans and Garamond. Winner of the Boston Book Builder's Award in 2013.</p>
                </div>
            </div>      
            <div class="row">
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="ed" href="img/folio/ed/cover.png"><img class="piece" src="img/folio/ed/cover.png" alt="Cover of Einstein's Dreams Accordion Book."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="ed" href="img/folio/ed/1-2.png"><img class="piece" src="img/folio/ed/1-2.png" alt="Pages 1 and 2."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="ed" href="img/folio/ed/3-4.png"><img class="piece" src="img/folio/ed/3-4.png" alt="Pages 3 and 4."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="ed" href="img/folio/ed/5-6.png"><img class="piece" src="img/folio/ed/5-6.png" alt="Pages 5 and 6."></a></div>
            </div>  
            <div class="row">
                <div class="col m12">
                    <h2 id="MEIC">Massachusetts Early Intervention Consortium 2016</h2>
                        <p>A collection of signage used at this years Massachusetts Early Intervention Consortium (MEIC) Conference. I worked closely with the Event Coordinator to develop a color coding system for the signs and corresponding rooms.</p>
                </div>
            </div>
            <div class="row">
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/b5.png"><img class="piece" src="img/folio/meic/b5.png" alt="Design for Breaking Boundaries Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/orange1711.png"><img class="piece" src="img/folio/meic/orange1711.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/yellow1711.png"><img class="piece" src="img/folio/meic/yellow1711.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/d5.png"><img class="piece" src="img/folio/meic/d5.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/green1117.png"><img class="piece" src="img/folio/meic/green1117_thumb.png" alt="Design for Breaking Boundaries Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/e5.png"><img class="piece" src="img/folio/meic/e5.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/a1.png"><img class="piece" src="img/folio/meic/a1.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="meic" href="img/folio/meic/pink1117.png"><img class="piece" src="img/folio/meic/pink1117_thumb.png" alt="Design for Nan Hass Feldmen Gallery Showing."></a></div>
            </div>
            <div class="row">
                <div class="col m12">
                    <h2 id="ABC">MetroWest Anti-Bullying Coalition</h2>
                        <p>Multiple logos were submitted, but ultimately the Anti-Bullying Coalition chose to adopt mine as their organization's visual identity, used in their press kits and social media. The logo features a custom typeface.</p>
                </div>
            </div>
            <div class="row">
                <div class="col m6"><a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="abc" href="img/folio/logo/metrowest.png"><img class="piece" src="img/folio/logo/metrowest.png" alt=""></a></div>
                <div class="col m6">
                    <div class="row">
                        <div class="col m12 _noPadding">
                            <a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="abc" href="img/folio/logo/metrowest_tag.png"><img class="piece" src="img/folio/logo/metrowest_tag_thumb.png" alt=""></a></div>
                        <div class="col m12 _noPadding">
                            <a class="venobox" data-overlay="rgba(0,0,0,0.4)" data-gall="abc" href="img/folio/logo/bcard.png"><img class="piece" src="img/folio/logo/bcard.png" alt=""></a></div>
            </div>
                </div>
            <div class="row">
                <div class="col m12">
                    <h2 id="FDR">Framingham Downtown Renaissance</h2>
                        <p>Collateral for the Framingham Downtown Renaissance's Seasonal Events. This was a collaborative effort of a small group of senior Graphic Design students. Additional design work can be viewed in the <a class="text" href="assets/rb_documentation.pdf" target="_blank">Style Guide</a>.</p>
                </div>
            </div>
            
       </section>
    </div>
</main>
<script type="text/javascript">
             $(document).ready(function(){
                $('.venobox').venobox({
                    infinigall: true,
                    bgcolor:'#eee',
                    border: '20px',
                    spinner : 'wave',
                });
            
            })
        </script>
 <script src="smooth.js"></script>