<footer class="container">
        <p class="copy">Copyright © 2017 Rachel Ballan
        <br/><br/>Let's connect: &nbsp;<ul class="footer">
        <li><a class="social" href="/assets/ballanresume2017.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        <li><a class="social" href="mailto:reballan18@gmail.com" target="_blank"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        <li><a class="social" href="http://www.linkedin.com/in/reballan" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        <li><a class="social" href="http://www.twitter.com/rachelballan" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        <li><a class="social" href="http://www.facebook.com/reballan" target="_blank" ><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        <li><a class="social" href="https://www.instagram.com/re_ballan/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>&nbsp;</li>
        </ul>
        </p>
</footer>
