<footer>
    <div class="container">
        <div class="row">
	<div class="col m6"><p>Copyright © 2017 Rachel Ballan</p></div>
    <div class="col m6" style="display:flex; justify-content:center; align-content:space-between;"><p>
        <i class="fa fa-file-text social" aria-hidden="true"></i>
        <i class="fa fa-linkedin social" aria-hidden="true"></i>
        <i class="fa fa-twitter social" aria-hidden="true"></i>
        <i class="fa fa-facebook social" aria-hidden="true"></i>
        <i class="fa fa-instagram social" aria-hidden="true"></i>
        </p></div>
</div>
        
    </div>
</footer>
