<footer>
    <div class="container">
        <div class="row">
	<div class="col m6"><p>Copyright © 2017 Rachel Ballan</p></div>
    <div class="col m6">
        <ul class="footer" style="text-align:justify;">
        <li><i class="fa fa-file-pdf-o-lg social" aria-hidden="true"></i></li>
        <li><i class="fa fa-envelope-lg social" aria-hidden="true"></i></li>
        <li><i class="fa fa-linkedin-lg social" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter-lg social" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook-official-lg social" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram-lg social" aria-hidden="true"></i></li>
        </ul>
        </div>
</div>
    </div>
</footer>
