<ul class="topnav" id="myTopnav" style="top:0; position: fixed; width: 100%; z-index: 1;">
  <li><img src="/img/logo_light.png" width="30px"></li>
  <li><a href="#">Home</a></li>
  <li><a href="#/work">Work</a></li>
  <li><a href="" class="disabled" title="Coming Soon">Illustration</a></li>
  <li><a href="#/contact">Contact</a></li>
  <li class="-icon">
    <a href="javascript:void(0);" onclick="myFunction()">☰</a>
  </li>
</ul>
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the -icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
